<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/snitch-blog-header.png") %>" />
    <title>Snitch · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src='https://cdn.jsdelivr.net/npm/hls.js@v0.12.4'></script>
  </head>
  <body>
    <nav class="navbar">
      <%= link to: "/", class: "navbar-brand"  do %>
        <div class="navbar-brand-img-container">
          <img src="<%= Routes.static_path(@conn, "/images/logo-w-box.png") %>" class="logo-img-static">
          <img src="<%= Routes.static_path(@conn, "/images/logo-w-bkgrd.png") %>" class="logo-img-hover">
        </div>
      <% end %>
      <div class="navbar-right">
        <div class="d-none d-sm-block">
          <a href="https://mux.com/blog/phoenix-liveview-build-twitch-without-writing-javascript" class="btn btn-dark blog-btn">Read the Blog Post</a>
        </div>
        <div class="d-block d-sm-none">
          <a href="https://mux.com/blog/phoenix-liveview-build-twitch-without-writing-javascript" class="btn btn-dark btn-sm blog-btn">Blog Post</a>
        </div>
      </div>
    </nav>
    <main role="main" class="container-fluid">
      <%= if get_flash(@conn, :info) do %>
        <div class="flash-wrapper">
          <p class="flash alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="flash-wrapper">
          <p class="flash alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
