<div class="page-channel-list">
  <h1>Listing Channels</h1>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
  <%= for channel <- @channels do %>
      <tr>
        <td><%= channel.mux_resource["id"] %></td>
        <td><%= channel.inserted_at %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
