<div class="page-channel-new">
  <div class="col-sm">
    <div class="channel-create-stream-key action-box">
      <h1>Create a Channel</h1>
      <%= render "form.html", Map.put(assigns, :action, Routes.channel_path(@conn, :create)) %>
    </div>
  </div>
</div>
