<div class="page-channel">
  <div class="col-sm channel-page-col">
    <div class="action-box-wrapper">
      <div class="action-box">
        <h1>Create a Channel</h1>
        <%= render "form.html", Map.put(assigns, :action, Routes.channel_path(@conn, :create)) %>
      </div>
    </div>
  </div>
</div>
