<div class="page-channel-show">
  <div class="channel-show-active">
    <h1><span class="text-muted">Welcome to</span> <u class="text-primary"><%= @channel.name %></u></h1>
    <div class="mt-5">
      <div class="row">
        <div class="col-sm-12">
          <div style="width: 100%;">
            <video id="mux-playback" controls autoplay data-hls-src="<%= @playback_url %>">
            </video>
          </div>
        <div>
      <div>
    </div>
  </div>
</div>
