/* This file is for your main application css. */

@import "custom";
@import '../node_modules/bootstrap/scss/bootstrap';

$lavender-brush: #fff0f5;
$aquamarine: #7fffd4;
$break-md: 768px;

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.flash.alert {
  margin-bottom: 0;
  padding: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.action-box {
  padding: 60px;
  max-width: 600px;
  margin: 30px auto 0 auto;
  background: $aquamarine;
  border-radius: 4px;
}

.new-channel-form {
}

.channel-show-active {
  padding-top: 60px;
}

.page-channel-new {
  background: $lavender-brush;
  background-image: url('/images/icons-bg.png');
  padding: 80px;
  min-height: 1000px;
}

.page-channel-show {
  background: $lavender-brush;
  background-image: url('/images/icons-bg.png');
  padding: 80px;
  min-height: 1000px;
}

.mux-video-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mux-tv-set {
  background-color: black;
  padding: 20px;
  z-index: 3;
  border-radius: 10px;
}

.mux-video {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  border-radius: 30px;
}

.mux-video-contain:after {
  content: '';
  background: url("/images/tv-drop-shadow.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -15px;
  right: 10px;
  border-radius: 10px;
  @media (min-width: $break-md) {
    bottom: -30px;
    right: 30px;
  }
  z-index: 1;
}
