/* This file is for your main application css. */

@import "custom";
@import '../node_modules/bootstrap/scss/bootstrap';

$lavender-brush: #fff0f5;
$aquamarine: #7fffd4;
$break-md: 768px;

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.flash.alert {
  margin-bottom: 0;
  padding: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}


.navbar {
  position: relative;
  padding: 0;
}

.navbar-brand {
  position: absolute;
  top: 20px;
  left: 20px;
}

.navbar-brand-img-container {
  position: relative;
}

.navbar-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-brand {
  .logo-text {
    position: absolute;
    opacity: 1;
    visibility: show;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .logo-img {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    transition: visibility 0s, opacity 0.5s linear;
  }
  &:hover {
    .logo-text {
      visibility: hidden;
      opacity: 0;
    }
    .logo-img {
      visibility: visible;
      opacity: 1;
    }
  }
}

.action-box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box {
  width: 100%;
  background: $aquamarine;
  border-radius: 4px;
  z-index: 3;
  padding: 30px;
  @media (min-width: $break-md) {
    padding: 60px;
  }
}

.action-box-wrapper:after {
  content: '';
  background: url(/images/tv-drop-shadow.png);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -30px;
  right: 30px;
  border-radius: 10px;
  z-index: 1;
}

.channel-page-col {
  max-width: 600px;
  margin: 120px auto 0 auto;
}

.new-channel-form {
}

.channel-show-active {
  padding-top: 60px;
}

.page-channel {
  background: $lavender-brush;
  background-image: url('/images/icons-bg.png');
  min-height: 1000px;
  padding: 20px 0 20px 0;
  @media (min-width: $break-md) {
    padding: 80px;
  }
}

.blog-btn {
  border-radius: 0;
  box-shadow: -8px 8px $aquamarine;
}

.btn {
  border-radius: 0;
}

.page-channel-list {
  background: $lavender-brush;
  padding: 80px;
}

.mux-video-cols {
  max-width: 1000px;
  margin: 0 auto;
}

.mux-video-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mux-tv-set {
  background-color: black;
  padding: 20px;
  z-index: 3;
  border-radius: 10px;
}

.mux-video {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  border-radius: 30px;
}

.mux-video-contain:after {
  content: '';
  background: url("/images/tv-drop-shadow.png");
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -15px;
  right: 10px;
  border-radius: 10px;
  @media (min-width: $break-md) {
    bottom: -30px;
    right: 30px;
  }
  z-index: 1;
}
